.header {
  padding: 1rem 0;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.header .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .row .left,
.header .row .right {
  flex: 1;
}
.header .row .left {
  color: #e94564;
  font-size: 2rem;
  font-weight: bold;
}
.header .row .center {
  flex: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .row .center .box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 20px;
  width: 70%;
  margin: auto;
  gap: 10px;
  height: 50px;
}
.header .row .center .box input {
  width: 70%;
  border: none;
  outline: none;
}
.header .row .center .box span {
  border-left: 1px solid #eee;
  height: 100%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .row .right {
  display: flex;
  justify-content: end;
}
.header .row .right ul {
  display: flex;
  gap: 1rem;
}
.header .row .right ul li {
  width: 40px;
  height: 40px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}
.header .row .right ul li span {
  position: absolute;
  top: -10px;
  right: 0;
  background-color: #e94564;
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .row .right ul li svg {
  color: black;
  transform: scale(0.8);
}

@media (max-width: 767px) {
  .header {
    top: 0;
  }
  .header .center {
    display: none !important;
  }
}